@font-face
{
font-family:"SPO365Icons";
src:url("../../fonts/Office365Icons.eot");
src:url("../../fonts/Office365Iconsd41d.eot?#iefix") format("embedded-opentype"),
url("../../fonts/Office365Icons.woff") format("woff"),
url("../../fonts/Office365Icons.ttf") format("truetype"),
url("../../fonts/Office365Icons.svg#web") format("svg");
font-style:normal;
font-weight:normal;
}
.ms-listview-glyph{
font-family:"SPO365Icons";
display:inline-block;
margin-right:5px;
}
.ms-listview-glyph-withmargin{
font-family:"SPO365Icons";
display:inline-block;
margin-right:5px;
font-size:21px;
position:relative;
top:2px;
}
.ms-listview-new-glyph{
font-family:"SPO365Icons";
display:inline-block;
margin-right:5px;
font-size:16px;
position:relative;
top:1px;
}
.ms-listview-new-glyph-circle{
border-style:solid;
border-width:2px;
border-radius:50%;
box-sizing:border-box;
-moz-box-sizing:border-box;
width:1.4em;
height:1.4em;
line-height:1.2em;
text-align:center;
}
.ms-listview-old-new-glyph{
font-family:"SPO365Icons";
display:inline-block;
margin-right:5px;
font-size:12px;
bottom:2px;
position:relative;
}
.ms-listview-old-new-glyph-circle{
border-style:solid;
border-width:2px;
border-radius:50%;
box-sizing:border-box;
-moz-box-sizing:border-box;
}
.ms-listview-old-new-glyph-large{
font-size:0.65em;
bottom:3px;
}
.ms-listview-old-upload-glyph{
top:1px;
position:relative;
}
.ms-listview-sync-glyph{
font-size:23px;
position:relative;
top:3px;
}
.ms-listview-manage-glyph{
font-family:"SPO365Icons";
display:inline-block;
margin-left:2px;
font-size:18px;
position:relative;
top:2px;
margin-top:3px;
}
.ms-list-addnew{
padding-top:0px;
padding-bottom:6px;
}
.ms-list-addnew.ms-list-addnew-aligntop{
padding-bottom:8px;
}
.ms-qcb-zone{
list-style-type:none;
margin:0;
padding:0;
white-space:nowrap;
}
.ms-qcb-leftzone{
float:left;
}
.ms-qcb-rightzone{
float:right;
text-align:right;
}
.ms-qcb-item{
display:inline-block;
list-style-type:none;
}
.ms-qcb-button{
border:0;
background:none;
cursor:pointer;
padding:3px 20px 5px 10px;
margin:0px;
min-width:0px;
text-align:left;
position:relative;
}
.ms-qcb-buttons-alignmentfix{
top:-1px
}
.ms-qcb-button:hover{
background:none;
}
.ms-qcb-leftzone{
margin-left:-10px;
}
button.ms-qcb-button[disabled=disabled]{
background-color:transparent;
cursor:default;
}
.ms-qcb-clearSeparator{
visibility:hidden;
clear:both;
margin:0;
padding:0;
border:none;
}
.ms-contextmenu-overlay{
position:fixed;
top:0;
right:0;
bottom:0;
left:0;
background-color:#fff;
filter:alpha(opacity=0);-ms-filter:"alpha(opacity=0)";opacity:0;
}
